body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  padding-left: 44vh;
  background-color: rgb(41, 39, 68);
  font-family: "GothamMedium", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  line-height: 44px;
  font-weight: 700;
}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
    url(./fonts/GothamMedium/GothamMedium.otf) format("truetype");
}

@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"),
    url(./fonts/GothamBook/GothamBook.otf) format("truetype");
}
